.slider-body {
  background-color: rgb(30, 30, 30);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: absolute;
  width: 100px;
  height: 60px;
  text-align: center;
}

.slider-tab {
  position: absolute;
  width: 40px;
  height: 15px;
  margin-left: 32px;
  margin-right: 32px;
  top: 0%;
  color: lightblue;
  background-color: rgb(30, 30, 30);
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  cursor: pointer;
}

.slider-tab-icon {
  height: 12px;
  width: 12px;
}

.app-outlet {
  position: absolute;
  top: 10%;
}
