
.Paddle0 {left: 8%}
.Paddle1 {right: 8%}

.info-box-text {
  position: absolute;
  color: white;
  left: 45.5%;
  top: 90%;
  text-align: center;
  border-style: inset;
  border-color: white;
  width: 160px;
  height: 30px;
}

.ball {
  top: 50%;
  left: 50%;
}

.slider-tab {
  display: block;
  position: absolute;
  width: 40px;
  height: 15px;
  color: lightgrey;
  background-color: rgb(30, 30, 30);
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}